@import "./font.module.scss";
@import "./colors.module.scss";

.close {
  border-radius: 5px;
  padding: 5px;
  max-height: 58px;
  max-width: 58px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px $BLACK;
}

.delete {
  position: relative;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: $RED;
  border: solid 1px $RED;
  color: $WHITE;
  padding: 17px;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 25px;
    max-height: 25px;
  }
}

@mixin button {
  font-weight: 600;
  padding: 4px 40px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


@mixin blue_small {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $BLUE 1px;
  background-color: $BLUE;
  color: $WHITE;
  height: 40px;
  width: 100%;
}

@mixin red_small {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $RED 1px;
  background-color: $RED;
  color: $WHITE;
  height: 40px;
  width: 100%;
}

.blue_small {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $BLUE 1px;
  background-color: $BLUE;
  color: $WHITE;
  width: 100%;
}

.transparentBlue_ordinary {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $BLUE 1px;
  color: BLUE;
}

.transparentRed_ordinary {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $RED 1px;
  color: $RED;
}

.transparentBlue_big {
  @include button();
  font-size: $BUTTON_TEXT_SIZE;
  border: solid $BLUE 1px;
  color: BLUE;
}

.transparentRed_big {
  @include button();
  font-size: $BUTTON_TEXT_SIZE;
  border: solid $RED 1px;
  color: $RED;
}

.switchButton {
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
  height: 36px;
  width: 120px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: $WHITE;
}