@import "./font.module.scss";
@import "./colors.module.scss";

.close {
  border-radius: 5px;
  padding: 5px;
  max-height: 58px;
  max-width: 58px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px $BLACK;
}

@mixin button {
  font-weight: 600;
  padding: 4px 40px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


@mixin blue_small {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $BLUE 1px;
  background-color: $BLUE;
  color: $WHITE;
  height: 40px;
  width: 100%;
}

.blue_small {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $BLUE 1px;
  background-color: $BLUE;
  color: $WHITE;
  width: 100%;
}

.transparentBlue_ordinary {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $BLUE 1px;
  color: BLUE;
}

.transparentRed_ordinary {
  @include button();
  font-size: $BUTTON_TEXT_SMALL;
  border: solid $RED 1px;
  color: $RED;
}

.transparentBlue_big {
  @include button();
  font-size: $BUTTON_TEXT_SIZE;
  border: solid $BLUE 1px;
  color: BLUE;
}

.transparentRed_big {
  @include button();
  font-size: $BUTTON_TEXT_SIZE;
  border: solid $RED 1px;
  color: $RED;
}