$WHITE: #FEFEFE;
$GRAIN_YELLOW: #E1C91F;
$GRAIN_YELLOW_LIGHT: #ffea4bb8;
$BACKGROUND_YELLOW: #FFFCE5;
$SIDEBAR_BROWN: #8D8A74;
$HEADER_BROWN: #867F4D;
$BLACK: #000000;
$TRANSPARENT_BLACK: #00000069;
$BLUE: #305DFF;
$RED: #ff160c;
$GRAY: rgb(186, 186, 186);
$TABLE_DARK: #DBD9CF;
$TABLE_LIGHT: #E8E6DC;