$LOGO_H2: 28px;
$BUTTON_TEXT_SIZE: 28px;
$BUTTON_TEXT_SMALL: 22px;
$SPINNER_H2: 56px;
$DESCTOP_H1: 48px;
$TABLET_H1: 36px;
$HINT_FONT: 20px;
$HINT_HIGHLIGHTED: 20px;
$HINT_H2: 32px;
$INPUT_FONT_MOBILE: 18px;
$H3_MOBILE: 24px;
$ERROR_FONT: 14px;