@import "./common/colors.module.scss";
@import "./common/buttons.module.scss";

.page {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;


  .selectorWrapper {
    width: 100%;
    max-width: 400px;
    background-color: $SIDEBAR_BROWN;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    border-radius: 10px;
    box-sizing: border-box;

    .selector {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      h2 {
        margin-top: 25px;
        margin-bottom: 20px;
        color: $WHITE;
      }
    }
    .actionButtons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      width: 100%;
      height: 100%;
      margin-top: 20px;
      margin-bottom: 20px;

      button {
        @include blue_small();

        &:last-child {
          @include red_small();
        }
      }
    }
  }
}