@import "./common/colors.module.scss";
@import "./common/resolution.module.scss";

.tablePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  .empty {
    width: 100%;
    height: 100%;
    color: $WHITE;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      border: dashed $WHITE 1px;
    }
  }
  
  .tableHolder {
    background-color: $SIDEBAR_BROWN;
    width: 100%;
    height: 100%;
    max-height: 502px;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;

    h2 {
      font-size: 30px;
    }

    .table {
      position: relative;
      display: inline-flex;
      margin-top: 17px;
      overflow: hidden;
      @mixin defaultRow {
        display: flex;
        align-items: center;
        height: 35px;
        
        &:nth-child(even) {
          background-color: $TABLE_LIGHT;
        }
        &:nth-child(odd) {
          background-color: $TABLE_DARK;
        }

      }
      .row {
        @include defaultRow();
        padding-left: 5px;
        
        .addObject {
          display: inline-flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          color: $BLUE;
          font-weight: 300;
          font-size: 16px;
          margin-left: -5px;
          cursor: pointer;
          svg {
            width: 12px;
            height: 16px;
            margin-right: 5px;
          }
        }
      }
      .checkRow {
        @include defaultRow();
        justify-content: center;

        .plus {
          width: 22px;
          height: 22px;
          background-color: transparent;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          svg {
            width: 18px;
          }
        }
      }

      @mixin header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: $TABLE_DARK;
        box-sizing: border-box;
        border-bottom: 1px solid $BLACK;
        font-size: 24px;
        font-weight: bold;
      }

      .column {
        background-color: $HEADER_BROWN;
        max-width: 230px;
        border: {
          top: solid $BLACK 1px;
          bottom: solid $BLACK 1px;
          left: solid $BLACK 1px;
        }
        &:nth-child(1) {
          border-left: none;
        }
        &:last-child {
          border-right: solid $BLACK 1px;
        }
        .header {
          @include header();
        }
      }
      .markingColumn {
        background-color: $HEADER_BROWN;
        width: 55px;
        border: solid 1px $BLACK;
        height: 100%;
        overflow: scroll;
        .header {
          @include header();
        }
        .checkbox {
          width: 22px;
          height: 22px;
          background-color: $WHITE;
          border: solid $BLACK 1px;
          border-radius: 5px;
          cursor: pointer;

          svg {
            display: none;
          }
        }
        .checkboxActive {
          background-color: $BLUE;
          svg {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            width: 15px;
            pointer-events: none;
          }
        }
      }
    }

    .tableDashboard {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;

      @mixin half {
        display: inline-flex;
        width: 50%;

        h2 {
          color: $WHITE;
        }
      }
      .halfLeft {
        @include half();
      }
      .halfRight {
        @include half();
        justify-content: flex-end;
        column-gap: 10px;
      }
    }
  }
}


@media screen and (min-width: $MIN_DESCTOP) {
  .tableHolder {
    max-width: 780px;
    .tableWrapper {
      display: inline-flex;
      overflow: scroll;
      height: 100%;
      width: 100%;
    }
    .table {
      height: 88%;
      width: 100%;
      .column {
        width: 100%;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: $MAX_TABLET) {
  .tableHolder {
    max-width: 410px;
    .halfRight {
      justify-content: space-between;
    }
    .table {
      height: 78%;
      width: 100%;
    .tableWrapper {
      overflow: scroll;
      display: inline-flex;
      width: 100%;
      height: 100%;
      overflow: scroll;    
      .column {
        height: 340px;
        min-width: 100%;
      }
      }
    }
  }
}